*{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


.politica h1:first-letter,.politica h2:first-letter, .politica h3:first-letter,.politica h4:first-letter,
.politica h5:first-letter{
  color:#0000FF;	
}

.cultura h1:first-letter,.cultura h2:first-letter,.cultura h3:first-letter,.cultura h4:first-letter,
.cultura h5:first-letter{
  color:#ff70cb;	
}

.deporte  h1:first-letter, .deporte h2:first-letter, .deporte h3:first-letter, .deporte h4:first-letter, 
.deporte h5:first-letter{
  color:#00aa00;	
}

.internacional h1:first-letter, .internacional h2:first-letter, .internacional h3:first-letter,
.internacional h4:first-letter, .internacional h5:first-letter{
  color:#ff7800;	
}

h1.nombre:first-letter{
    color:#ffffff;	
}


img{
  max-width: 100%;/* Para obligar a la imagen a ocupar*/
  		  /*como máximo el tamaño del recinto.*/
}

br{
 clear:both;	
}

a{
   text-decoration:none;	
}

.main div#logo{
  float:left;
  width:100%;
}

img.noticia{
  border-radius:10px;
}

div.leftad
{
   float:left ;
   width:20%;
   max-width:20%;
   min-width:0px;
}

.leftad img{
  max-width:100%;
  min-width:0px;
}

.leftad div.der{
  float:right;
}

div.upad
{
   float:left;
   width:60%; 
   
}

div.rightad
{
   width:20%;
   float:right;
}

.rightad div.izq
{
  float:left;
  padding:0px;
  margin-left:0px;

}

div.main{
  float:left;
  width:60%;
  padding-left:1px;
  padding-right:1px;

}

div.secciones{
 width:100%;
 float:left;
}

.celda{
  float:left;
  list-style-type:none;
  padding-left:3px;
  padding-right: 3px;
  margin-right:1px;
  border:1px solid;
  border-radius:10px;
}
.celda.politica{
   background-color:#0070FF;
   color:#ffffff;
}

.celda.deportes{
   background-color:#00ff00;
   color:#ffffff;
}

.celda.cultura{
   background-color:#ffc0cb;
   color:#ffffff;	
}

.celda.internacional{
   background-color:#ff8000;
   color:#ffffff;	
}

li a{
  display:block;
  
}

.main div#principales
{
   float:left;
   width:40%;
   
}

.main div#secundarias
{
   float:left;
   width:30%;
   padding-left:5%;
   
} /*Hasta aquí reutilizar de styles.css, es decir, portada.*/

.main div#publicidad{
   float:right;
   width:30%;

}

.politica .nombre{
   float:left;
   background-color:#0070FF;
   width:100%;
   padding-top:5%;
   color:#ffffff;
   padding-left:5%;
}

.cultura .nombre{
   float:left;
   background-color:#ffc0cb;
   width:100%;
   padding-top:5%;
   color:#ffffff;
   padding-left:5%;
}

.deportes .nombre{
   float:left;
   background-color:#00ff00;
   width:100%;
   padding-top:5%;
   color:#ffffff;
   padding-left:5%;	
}

.internacional .nombre{
   float:left;
   background-color:#ff8000;
   width:100%;
   padding-top:5%;
   color:#ffffff;
   padding-left:5%;
}

.main .destacada{
  width:100%;
  text-align:center;
}

div #img{
   width:60%;
   margin-left:20%;
   margin-right:20%;
}

p.imgfoot{
   padding-top:0px;
   margin-top:0px;
   font-size:70%;  
}

.main div#principales
{
   float:left;
   width:40%;
   padding-left:3%;
   padding-right:3%;
   
}

.main div#secundarias
{
   float:left;
   width:30%;
   padding-left:3%;
   padding-right:3%;
}

#principales div.notprin{
   border-bottom:1px solid;
}

#secundarias div.notsec{
   float:left;
   border-bottom:1px solid;
}
.notsec img{
   width:80%;
   padding-left:10%;
   padding-right:10%;
}

p.autor{
  font-size:80%;
}

#publicidad img{
  float:left;	
  width:100%;
  border:1px solid;
}
